TPMs_for_4_species/Maize_B73v4_gene_expression_level_of_381_RNA_Seq_datasets.csv filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
Trained_models/Maize/Basenji2-long/ckpt_6.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
